body {
  background-color: black;
  align-items: center;
}
div{
  align-items: center;
}
.main{
  height: auto;
  width: auto;
  align-items: center;

}

.sub{
  border-radius: 100px ;
  background-color: rgb(116, 109, 109);
  margin-top: 300px;
  margin-left: 650px;
  margin-bottom: 300px;
  margin-right: 650px;
  height: 400px;
  width: 700px;
}

.box{
  background-color: rgb(23, 241, 23);
  height: 100px;
  width: 200px;
  margin-left: 25px;
  margin-top: 150px;
  text-align: center;
  float: left;
  box-shadow: 0px 0px 0px 10px;
  border-radius: 30px;

}

p{
  margin-top: 40px;
  text-align: center;
  color: white;
  font-size: 20px;
  font-weight: 800;
}