body {
  margin: 0 auto;
  background-color: white;
}
#navbar {
  margin: 0 auto;
  height: 100px;
  background-color: rgb(136, 132, 132);
  text-align: center;
}
img {
  margin-left: 20px;
  margin-top: 20px;
  height: 60px;
  width: 50px;
  float: left;
  padding-right: 4px;
}
.right {
  float: right;
}
.right img {
  height: 80px;
  width: 80px;
  margin: 10px;
}
.heading {
  margin-top: 40px;
  color: white;
  float: left;
}
.first-container u {
  color: black;
}
#main-container {
  background-color: white;
  height: 900px;
  width: 100%;
  margin-top: 1px;
}
.sidebar {
  position: relative;
  float: left;
  list-style-type: none;
  height: 100%;
  background-color: rgb(136, 132, 132);
  width: 15%;
}
li {
  margin-left: -20px;
  list-style-type: none;
  padding-top: 20px;
  font-size: larger;
}
li a {
  color: white;
}
.first-container {
  background-color: white;
  float: right;
  width: 82%;
  height: 400px;
  padding: 1%;
  padding-top: 0px;
  position: relative;
}
.box1 {
  width: 22%;
  height: 250px;
  float: left;
  margin: 1.5%;
  margin-top: 50px;
  color: white;
  text-align: center;
}
.box1 > h3 {
  margin-top: 20%;
}
.box1 > p {
  font-size: large;
  font-weight: 900;
  margin-top: 10%;
}
.second-container {
  position: relative;
  background-color: white;
  float: right;
  width: 82%;
  height: 400px;
  padding: 1%;
}
.side-head {
  font-size: larger;
  font-weight: 700;
  color: rgb(75, 235, 75);
  margin-top: 20px;
  margin-left: -20px;
}
.box2 {
  width: 20%;
  height: 76%;
  float: left;
  margin: 2.5%;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
}
.rect1 {
  background-color: rgb(55, 245, 81);
}
.rect2 {
  background-color: rgb(155, 66, 238);
}
.rect3 {
  background-color: orangered;
}
.rect4 {
  background-color: rgb(30, 179, 238);
}
.center {
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
  font-weight: bold;
}
.circ1 {
  background-color: rgb(165, 59, 226);
}
.circ2 {
  background-color: rgb(37, 215, 247);
}
.circ3 {
  background-color: rgb(250, 117, 117);
}
.circ4 {
  background-color: rgb(236, 132, 132);
}
.incirc1 {
  background-color: rgb(54, 218, 108);
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
  width: 70%;
  height: 70%;
}

.incirc2 {
  background-color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
  width: 90%;
  height: 90%;
}
.incirc3 {
  background-color: rgb(241, 159, 159);
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
  width: 90%;
  height: 90%;
}
.incirc31 {
  background-color: rgb(194, 88, 243);
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
  width: 40%;
  height: 40%;
}
.box3 {
  width: 100%;
  height: 70%;
}
.box4 {
  background-color: blue;
  width: 3%;
  float: left;
  margin: 3% 5% 0% 3%;
}
.box5 {
  background-color: black;
  height: 5%;
  width: 100%;
  float: left;
  margin-left: 3%;
}
.h {
  background-color: rgb(78, 226, 78);
  height: 94%;
  margin-top: 6%;
}
.i {
  background-color: orangered;
  height: 70%;
  margin-top: 22%;
}
.j {
  background-color: rgb(176, 103, 245);
  height: 80%;
  margin-top: 15.5%;
}
.k {
  background-color: rgb(38, 231, 189);
  height: 50%;
  margin-top: 35.5%;
}
.l {
  background-color: rgb(90, 79, 79);
  height: 80%;
  margin-top: 15.5%;
}
.m {
  background-color: orange;
  height: 40%;
  margin-top: 42.5%;
}
.font-white {
  color: black;
}
