body {
  height: 100%;
  width: 100%;
  position: relative;
  align-items: center;
  background-color: rgb(61, 12, 70);
  margin: 0 auto;
}
#navbar {
  background-color: rgb(97, 34, 143);
  position: relative;
  height: 80px;
  margin-bottom: 10px;
}
#container1 {
  align-items: center;
  background-color: white;
  height: 250px;
  margin: 15px;
}
#container2 {
  position: relative;
  background-color: white;
  height: 240px;
  margin: 25px;
  border: 5px solid green;
  outline: 10px solid red;
}
.box1 {
  position: relative;
  background-color: greenyellow;
  height: 180px;
  width: 30%;
  float: left;
  margin: 20px;
  padding: 10px;
  overflow: auto;
}
.box2 {
  position: relative;
  background-color: greenyellow;
  height: 180px;
  width: 30%;
  float: right;
  margin: 20px;
  padding: 10px;
  overflow: auto;
}
.left {
  float: left;
  margin: 0px 0px;
}
.right {
  float: right;
  margin: 30px;
}
.left img {
  margin-top: 10px;
  height: 60px;
  margin-left: 15px;
  float: left;
}
.right nav li {
  list-style-type: none;
  display: inline;
  text-align: center;
}
.right nav li a {
  color: white;
  padding: 10px;
  text-decoration: none;
}
p {
  color: black;
  padding: 5px;
  position: relative;
}
h2 {
  margin-left: 15px;
  float: left;
  color: cornsilk;
}
@media screen and (max-width: 550px) {
  #container1 {
    display: inline-block;
    height: 540px;
    width: fit-content;
  }
  .box1,
  .box2 {
    width: 80%;
    margin: 7%;
    float: left;
  }
  .right {
    display: none;
    margin-left: 0px;
  }
}
@media screen and (max-width: 1000px) and (min-width: 550px) {
  .box1,
  .box2 {
    width: 38%;
  }
}
