body {
  background-color: white;
}

#navbar {
  margin: 0 auto;
  height: 100px;
  background-color: rgb(136, 132, 132);
  text-align: center;
}

img {
  margin-left: 20px;
  margin-top: 20px;
  height: 60px;
  width: 50px;
  float: left;
  padding-right: 4px;
}

.right {
  float: right;
}
.right img {
  height: 80px;
  width: 80px;
  margin: 10px;
}
.heading {
  margin-top: 40px;
  color: white;
  float: left;
}
.first-container u {
  color: black;
}
#main-container {
  background-color: white;
  height: 900px;
  width: 100%;
  margin-top: 1px;
}

.sidebar {
  float: left;
  list-style-type: none;
  height: 100%;
  background-color: rgb(136, 132, 132);
  width: 15%;
}
li {
  list-style-type: none;
  padding-top: 20px;
  font-size: larger;
}
li a {
  color: white;
}
.first-container {
  background-color: white;
  float: right;
  width: 82%;
  height: 400px;
  padding: 1%;
  padding-top: 0px;
  position: relative;
}

.box1 {
  width: 22%;
  height: 250px;
  float: left;
  margin: 1.5%;
  text-align: center;
}
.box1 h3,
p {
  margin-top: 50px;
  color: white;
  vertical-align: middle;
}

.second-container {
  background-color: white;
  float: right;
  width: 82%;
  height: 400px;
  padding: 1%;
}

.side-head {
  font-size: larger;
  font-weight: 700;
  color: rgb(75, 235, 75);
  margin-top: 20px;
}

.box2 {
  background-color: red;
  width: 150px;
  height: 150px;
  float: left;
  border-radius: 50%;
  margin: 5%;
  box-shadow: 0px 0px 0px 40px blueviolet;
  text-align: center;
  align-items: center;
  align-content: center;
  vertical-align: middle;
  font-weight: bold;
}

.a {
  background-color: rgb(55, 245, 81);
}
.b {
  background-color: rgb(155, 66, 238);
}
.c {
  background-color: orangered;
}
.d {
  background-color: rgb(30, 179, 238);
}

.center1 {
  margin-top: 70px;
}

.center2 {
  margin-top: 100px;
}
.center2 p {
  color: black;
}

.center3 {
  margin-top: -10px;
}

.e {
  width: 160px;
  height: 160px;
  box-shadow: 0px 0px 0px 40px blueviolet;
  background-color: rgb(22, 219, 154);
  margin-top: 40px;
  margin-left: 110px;
  margin-right: 200px;
}
.f {
  width: 220px;
  height: 220px;
  box-shadow: 0px 0px 0px 10px rgb(34, 184, 243);
  background-color: white;
  margin-top: 10px;
  margin-left: 0px;
  margin-right: 180px;
}
.g {
  width: 100px;
  height: 100px;
  box-shadow: 0px 0px 0px 60px orange, 0px 0px 0px 70px red;
  background-color: blueviolet;
  margin-top: 70px;
}

.box3 {
  float: left;
  width: 300px;
  height: 250px;
  background-color: white;
  margin-left: 80px;
}

.box4 {
  background-color: blue;
  width: 10px;
  float: left;
  margin: 10px 15px 0px 10px;
}
.box5 {
  background-color: black;
  height: 10px;
  width: 300px;
  float: left;
  margin-left: 10px;
}
.h {
  background-color: rgb(78, 226, 78);
  height: 200px;
  margin-top: 10px;
}
.i {
  background-color: orangered;
  height: 120px;
  margin-top: 90px;
}
.j {
  background-color: rgb(176, 103, 245);
  height: 150px;
  margin-top: 60px;
}
.k {
  background-color: rgb(38, 231, 189);
  height: 100px;
  margin-top: 110px;
}
.l {
  background-color: rgb(90, 79, 79);
  height: 170px;
  margin-top: 40px;
}
.m {
  background-color: orange;
  height: 90px;
  margin-top: 120px;
}
